<section  class="register_section">
    <div class="container-sm">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="register_card">
                    <div class="login_logo_container">
                        <img src="../../assets/logo/logo.png"  alt="sellIt_logo"/>
                    </div>
                    <div class="login_header_container">
                        <div class="login_header__login">
                            <a>Register</a>
                        </div>
                        <div class="login_header__register">
                            <a href="user/login"  >LogIn</a>
                        </div>     
                    </div>
                    <div class="">
                        <form #registerForm="ngForm" [appMatchPassword]="['password', 'confirmPassword']"
                        (ngSubmit)="registerForm.form.valid && onSubmit()" novalidate>
                            <small class="text-danger">{{msg}}</small>
                            <div class="login_input_container">
                                <input 
                                    placeholder="First Name" 
                                    name="firstname"
                                    type="text" 
                                    [(ngModel)]="user.firstname"
                                    #name="ngModel" 
                                    required
                                />
                                <span class="text-danger"
                                    *ngIf="(name.touched || registerForm.submitted) && name.errors?.required">
                                    First Name is required
                                </span>
                            </div>
                            <div class="login_input_container">
                                <input 
                                    placeholder="Last Name" 
                                    name="lastname"
                                    type="text" 
                                    [(ngModel)]="user.lastname"
                                    #lname="ngModel"
                                    required
                                />
                                <span class="text-danger"
                                    *ngIf="(lname.touched || registerForm.submitted) && lname.errors?.required">
                                    Last Name is required
                                </span>
                            </div>
                            <div class="login_input_container">
                                <input 
                                    placeholder="Phone No" 
                                    name="phone"
                                    type="phone" 
                                    id="phone" 
                                    [(ngModel)]="user.phone"
                                    required
                                    
                                />
                            </div>
                            <div class="login_input_container">
                                <input 
                                    placeholder="Email address" 
                                    name="email"
                                    type="email" 
                                    [(ngModel)]="user.email"
                                    #email="ngModel"
                                    required email
                                />
                                <span class="text-danger"
                                    *ngIf="(email.touched || registerForm.submitted) && email.errors?.required">
                                    Email is required
                                </span>
                                <span class="text-danger" *ngIf="email.touched && email.errors?.email">
                                    Enter a valid email address
                                </span>
                            </div>
                            <div class="login_input_container">
                                <input 
                                    placeholder="Password" 
                                    name="password"
                                    type="password" 
                                    [(ngModel)]="user.password"
                                    required
                                    #password="ngModel" 
                                    appPasswordPattern required
                                />
                                <span class="text-danger"
                                    *ngIf="(password.touched || registerForm.submitted) && password.errors?.required">
                                    Password is required
                                </span>
                                <span class="text-danger" *ngIf="password.touched && password.errors?.invalidPassword">
                                    Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                    letter and 1 number
                                </span>
                            </div>
                            <div class="login_input_container">
                                <input 
                                    placeholder="Password" 
                                    name="confirmPassword"
                                    type="password" 
                                    [(ngModel)]="user.confirmPassword"
                                    required
                                    #confirmPassword="ngModel" 
                                    appPasswordPattern 
                                    required
                                />
                                <span class="text-danger"
                                    *ngIf="(confirmPassword.touched || registerForm.submitted) && confirmPassword.errors?.required">
                                    Confirm Password is required
                                </span>
                                <span class="text-danger"
                                    *ngIf="confirmPassword.touched && confirmPassword.errors?.passwordMismatch">
                                    Passwords doesnot match
                                </span>
                            </div>
                            <div class="login_button">
                                <button type="submit" (click)="toggleLoading()" [disabled] ="isLoading" >
                                    <img 
                                    *ngIf="isLoading"
                                     src="../../../assets/spinner/ajax.gif" 
                                     style="width:24px"
                                    />
                                    Register

                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>