<div class="container-fluid">
  <div class="product_header">Products</div>
  <div class="row">
    <div class="col-md-12 bg text-right">
      <button type="button" class="btn btn-primary">Add Product</button>
    </div>
    <div class="col-md-12 margin-top text-right">
      <div class="md-form form-sm form-1 pl-0">
        <input
          class="my-0 py-1"
          type="text"
          placeholder="Search"
          aria-label="Search"
        />
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <table class="table table-striped ">
    <thead class="TH-col">
      <tr>
        <th scope="col">
          <input type="checkbox" name="" id="" />
        </th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Price(N)</th>
        <th scope="col">Quantity</th>
        <th scope="col">Edit</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><input type="checkbox" name="" id="" /></th>
        <th scope="row">1</th>
        <td>2020 Air Sneakers</td>
        <td>Men</td>
        <td>15,000</td>
        <td>54</td>
        <td>Edit</td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox" name="" id="" /></th>

        <th scope="row">2</th>
        <td>BeatsbyDre Headphones</td>
        <td>Electronics</td>
        <td>5,000</td>
        <td>103</td>
        <td>Edit</td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox" name="" id="" /></th>

        <th scope="row">3</th>
        <td>Samsung Note 20s</td>
        <td> Electronics</td>
        <td>108,000</td>
        <td> 103</td>
        <td>Edit</td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox" name="" id="" /></th>

        <th scope="row">4</th>
        <td>Luxury Wristwatch</td>
        <td>Men Wears</td>
        <td>15,000</td>
        <td>51</td>
        <td>Edit</td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox" name="" id="" /></th>

        <th scope="row">5</th>
        <td>Women trendy shoe</td>
        <td> Women wears</td>
        <td>8,000</td>
        <td> 33</td>
        <td>Edit</td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox" name="" id="" /></th>

        <th scope="row">6</th>
        <td>Air pods pro</td>
        <td> Eletronics </td>
        <td>25,000</td>
        <td> 40</td>
        <td>Edit</td>
      </tr>
    </tbody>
  </table>
</div>
