<div class="container-fluid recommend_collection">
    <h2 class="top__collection_header">Recommended Products</h2>
  <div class="row">
      <div class="col-sm-2 col-md-2  " *ngFor="let recommend of recomProduct">
      <div class="product_list_card">
       <div class="recommend_product"><img src="{{recommend.imageUrl}}" alt="" srcset=""></div>
        <div class="product_details">
          <div class="product_name">
            <span>{{recommend.productName}}</span>
          </div>
          <div class="product_price">
            <span>{{recommend.price}}</span>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="product__banner_advert product_banner_container">
      <div class="row">
      <div class="col-sm-12 col-md-12">
        <img src="../../../assets/banners/samsung.png" />
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-2  " *ngFor="let recommend of recomProduct">
      <div class="product_list_card">
       <div class="recommend_product"><img src="{{recommend.imageUrl}}" alt="" srcset=""></div>
        <div class="product_details">
          <div class="product_name">
            <span>{{recommend.productName}}</span>
          </div>
          <div class="product_price">
            <span>{{recommend.price}}</span>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  
  
