.recommend_collection {
  background: #FEFEFE 0% 0% no-repeat padding-box;
  border: 1px solid #707070; 
  border-radius: 15px;
  opacity: .95;
  margin: 2rem;
  padding-top: 3rem;
  padding-bottom: 1rem; 
  overflow: hidden;
  width: fit-content;
}
.recommend_product {
    margin: 0.5rem 0;
}

.product__product_image  img {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    height: 100% !important;
}

@media (max-width:540px) {
  .recommend_collection {
    display: none;
  }
}
