<footer class="footer_style">
    <div class="container-sm">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="footer__header_container">
                    <div class="footer__header">
                        <h2>Get the lastest news from us</h2>
                    </div>
                        <form>
                            <div class="footer_form-control">
                                <div>
                                    <label for="email">Subscribe to our Newsletter to stay updated on our newest products</label>
                                    <input 
                                        id="email"
                                        type="email" 
                                        placeholder="Email Address" 
                                    />
                                </div>
                                <div>
                                    <button>Subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="footer__content">
                        <ul class="footer__content_list">
                            <li>About Us</li>
                            <li>Values</li>
                            <li>Our Story</li>
                            <li>Blog</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="footer__content">
                        <ul class="footer__content_term">
                            <li>Help Center</li>
                            <li>Delivery Options</li>
                            <li>Report a Product</li>
                            <li>Terms and Conditions</li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
</footer>
