<footer class="footer_style">
    <div class="container-sm">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="footer__header_container">
                    <div class="footer__header">
                        <h2>Get the lastest news from us</h2>
                    </div>
                        <form>
                            <div class="footer_form-control">
                                <div class="footer__form_element">
                                    <p>Subscribe to our Newsletter to stay updated on our newest products</p>
                                        <div class="form__input">
                                            <input 
                                                id="email"
                                                type="email" 
                                                placeholder="Email Address" 
                                            />
                                            <button>Subscribe</button>
                                        </div>     
                                 </div>
                            </div>
                        </form>
                        <div class="form__socia_media">
                            <div class="footer__social_header">
                                <p>Follow Us</p>
                            </div>
                            <div class="footer__icon">
                                <ul>
                                    <li class="footer_icon_facebook"><img  src="../../assets//socials//facebook.svg" /></li>
                                    <li class="footer_icon_instagram"><img src="../../assets//socials//instagram.svg"/></li>
                                    <li class="footer_icon_twitter"><img src="../../assets//socials//twitter-sign.svg" /></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="footer__content">
                        <ul class="footer__content_list">
                            <li>About Us</li>
                            <li>Values</li>
                            <li>Our Story</li>
                            <li>Blog</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="footer__content">
                        <ul class="footer__content_term">
                            <li>Help Center</li>
                            <li>Delivery Options</li>
                            <li>Report a Product</li>
                            <li>Terms and Conditions</li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
</footer>
