<section>
    <div class="container-sm">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="login_card">
                    <div class="login_logo_container">
                        <img src="../../assets/logo/logo.png"  alt="sellIt_logo"/>
                    </div>
                    <div class="login_header_container">
                       <h2 class="login_header">Login</h2>
                    </div>
                    <div class="">
                        <form>
                            <div class="login_input_container">
                                <input 
                                    placeholder="Username or email" 
                                    type="text" 
                                    id="username" 
                                />
                            </div>
                            <div class="login_input_container">
                                <input 
                                    placeholder="Password" 
                                    type="password" 
                                    id="password"
                                />
                            </div>
                            <div class="login_button">
                                <button onclick="submit">Login</button>
                            </div>
                        </form>
                        <div class="login_forgot-password">
                            <a href="">Forgot Password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>