.sidenav-container {
   /* height: 100%;  */
   z-index: 100;
 
}

.sidenav {
  width: 200px;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  /* position: sticky;
  top: 0; */

}


.mat-toolbar.mat-primary {
  background: #E1E1E1 0% 0% no-repeat padding-box;
}
.mat-toolbar a {
  display: inline-block;
  color: #101010;
  margin: 15px 15px 0;
  text-decoration: none;
  font-size: 14px;
  
}

.mat-toolbar-single-row {
  padding: 0 28px;
}

li {

  list-style: none;
  padding: 0;
  margin: 0;
}
@media (max-width:600px) {
  .mat-toolbar.mat-primary a {
    display: none;
  }
  .input-group-prepend input {
    width: 20%;
  }
  .overide_profile img {
    display: block;
    /* margin: 10px 10px 0; */
  }
 
}

@media (min-width:768px) {
  .sidenav {
    display: none;
  }
  .mat-drawer-content.mat-sidenav-content {
    overflow: hidden;
  }
}
