.error__container {
  height: 100%;
  width: 100%;
}
.errorMessage {
  margin-top:150px;
  font-size: 170px;
  text-align: center;
}


@media (max-width:540px) {
  .errorMessage {
  font-size: 50px;
  }
}