
<div class="container">
  <div class="New">
    New Product
  </div>
  <div class="row">
    <section class="col-sm-8 col-md-8">
      <form>
        <div class="form-group padding-top">
          <label for="exampleFormControlInput1">Name </label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>


        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Category </label>
          <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Electronics">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Price(N) </label>
          <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="2,500">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Quantity </label>
          <input type="number" class="form-control" id="exampleFormControlInput4" placeholder="450">
        </div>
        <div class="form-group padding-btm">
          <label for="exampleFormControlInput1">Display on screen </label>
       <input type="checkbox" class="form-control-sp" name="" id="">
        </div>

      </form>

    </section>

   <section class="col-sm-4 col-md-4">
      <div class="product-Image">
        <section class="display-pd">Product Image</section>
        <section class="display-img">    <img src="../../../assets/8.png" alt="" srcset="">
      </section>


      </div>

    </section>
  </div>
</div>
