<section [routerLink]="['/signup']" class="register_section">
    <div class="container-sm">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="login_card">
                    <div class="login_logo_container">
                        <img src="../../assets/logo/logo.png"  alt="sellIt_logo"/>
                    </div>
                    <div class="login_header_container">
                        <div class="login_header__login">
                            <a [routerLink]="['/signup']">Register</a>
                        </div>
                        <div class="login_header__register">
                            <a [routerLink]="['/login']">LogIn</a>
                        </div>     
                    </div>
                    <div class="">
                        <form>
                            <div class="login_input_container">
                                <input 
                                    placeholder="Username" 
                                    type="text" 
                                    id="username" 
                                />
                            </div>
                            <div class="login_input_container">
                                <input 
                                    placeholder="Email address" 
                                    type="email" 
                                    id="email" 
                                />
                            </div>
                            <div class="login_input_container">
                                <input 
                                    placeholder="Password" 
                                    type="password" 
                                    id="password"
                                />
                            </div>
                            <div class="login_button">
                                <button onclick="submit">Register</button>
                            </div>
                        </form>
                        <div class="register_checkbox">
                            <input 
                                type="checkbox" 
                                id="checkbox" 
                            />
                            <p>I agree to the terms and conditions</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>