.container-fluid{
  background: #F2F2F2 0% 0% no-repeat padding-box;
  height: 57px;
  overflow: hidden;
}

.nav-padding {
  padding: 0 3rem;
}

.icon{
  width: 18px;
  height: 18px;
  background-color:white;

}

.display-inline{
  display:flex;
  list-style-type: none;
  margin-left: 2em;
  justify-content: center;
}

.input-group-text{
  background: white;
  height: 31px;
  border-radius: 10px;
  opacity: 1;
}

.input-group{
  position:absolute;
  right:25em;
}

.input-group-sm {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.navbar-t {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.form-control{
  background: #ECECEC;
  height: 31px;
}

.nav-left{
  margin: 1.2em 1em 0 1em;
  height: 27px;
  opacity: 1;
}

.navbar{
  height: 57px;
  background: #E1E1E1 0% 0% no-repeat padding-box;
  opacity:1
}

.navbar-nav a{
  /* font: normal normal normal 20px Segoe UI; */
  letter-spacing: 0px;
  color: #101010;
  opacity: 1;
}

.nav-left a{
  color: #101010;
  opacity: 1;
  text-align: center;
  margin-bottom: 1em;

}
.bg{
  background-color: white;
}

.dropdown .show.dropdown-menu {
  position: fixed !important;
  top: 28px !important;
  left: 80rem !important;
}    

@media (max-width:468px) {
  .sm {
    display: none;
  }
}
@media screen and (max-width:600px){
  .input-group{
   display: none;
  }
  .nav-left{
    display: none;
  }
}

@media (max-width:768px) {
  .py-1 {
    margin-right: -7rem;
    margin-bottom: 1rem;
  }
}

