<section  class="login_section">
    <div class="container-sm">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="login_card">
                    <div class="login_logo_container">
                        <img src="../../assets/logo/logo.png"  alt="sellIt_logo"/>
                    </div>
                    <div class="login_header_container">
                        <div class="login_header__login">
                            <a>LogIn</a>
                        </div>
                        <div class="login_header__register">
                            <a href="user/register" >Register</a>
                        </div>     
                    </div>
                    <div class="">
                        <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)" 
                         autocomplete="off">
                            <small class="text-danger">{{msg}}</small>
                            <div class="login_input_container">
                                <!-- <em *ngIf="loginForm.controls.email?.invalid && (loginForm.controls.email?.touched || mouseoverLogin)">Required</em> -->
                                <input 
                                    ngModel
                                    name="email"
                                    placeholder="Email address (Required)" 
                                    appEmailvalidator
                                    type="email" 
                                    required
                                    #email="ngModel"
                                    [ngClass]="{'is-invalid': (email.touched || email.dirty) && !email.valid }"
                                    
                                />
                                <span class="invalid-feedback">
                                    <span *ngIf="email.hasError('required')">
                                      Email is required.
                                    </span>
                                    <span *ngIf="email.hasError('emailvalidator')">
                                      Please provide a valid email address
                                    </span>
                                  </span>
                            </div>
                            <div class="login_input_container">
                                <!-- <em *ngIf="loginForm.controls.password?.invalid && (loginForm.controls.password?.touched  || mouseoverLogin)">Required</em> -->
                                <input 
                                    ngModel
                                    name="password"
                                    placeholder="Password (Required)" 
                                    type="password" 
                                    autocomplete="off"
                                    #password="ngModel"
                                    [ngClass]="{'is-invalid': (password.touched || password.dirty) && !password.valid }" 
                                    
                                />
                                <span class="invalid-feedback">
                                    <span *ngIf="password.hasError('required')">
                                      Password is required.
                                    </span>
                                </span>
                            </div>
                            <div class="login_button">
                                <!-- <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false"> -->
                                    <button type="submit"  >
                                        <!-- <img 
                                        *ngIf="isLoading"
                                         src="../../../assets/spinner/ajax.gif" 
                                         style="width:24px"
                                        /> -->
                                        Login
                                    </button>
                            </div>
                        </form>
                        <div class="login_forgot-password">
                            <a href="">Forgot Password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>