/* You can add global styles to this file, and also import other style files */

body {
    background-color: #fff;
    font-size: 14px;
    font-family: 'Noto Serif', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oxygen', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

